header {
    background-color: #FFDDDE;
    margin-left: 0px;
    margin-right: 0px;
    height: 110px;
}

.title1 {
    margin-top: 15px;
    font-size: 17px;
}

.title2 {
    margin-top: 8px;
    font-size: 17px;
}