body {
    background-color: #FFDDDE;
    font-family: Tahoma;
}

.passage {
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
}

.showPhoto {
    margin-left: 10%;
    margin-right: 10%;
    height: 250px;
}