header {
    background-color: #FFDDDE;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    height: 100px;
}

.title1 {
    font-size: 19px;
}

.title2 {
    margin-top: 5px;
    font-size: 19px;
}

.passage {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}